.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.input {
  padding: 0.17rem;
  padding-left: 0.35rem;
  border: var(--basic-border);

  font: inherit;
  font-size: 0.9rem;
  color: var(--primary-dark);

  outline: none;
}

.input:focus {
  border: var(--basic-border);
}

.input::placeholder {
  color: var(--primary-bright);
}

.input:hover {
  --basic-border: 1px var(--primary-dark) solid;
}
