.section {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.button {
  flex: 1 1 10%;
}

.display {
  overflow: hidden;

  max-width: 24rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border: var(--basic-border);
  border-color: var(--primary-bright);

  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: var(--white);
}

.display.selected {
  background-color: var(--primary-bright);
  transition:
    color 1s,
    background-color 1s;
}

.duration {
  display: flex;
  align-items: center;

  max-width: 8rem;

  background-color: var(--primary-color);

  transition: background-color 0.3s;
}

.input {
  width: 100%;
}

.label {
  display: inline-block;
  padding: 0 0.25rem;
  color: var(--primary-bright);
  text-transform: capitalize;
}

.duration:hover {
  background-color: var(--primary-dark);
}

.button:last-child {
  flex: 1 1 100%;

  margin-bottom: 1rem;
  padding: 0.75rem;
  border: var(--basic-border);
  border-radius: var(--border-radius);

  color: var(--primary-color);
  text-transform: uppercase;

  background-color: var(--white);

  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
}

.button:last-child:hover {
  border-color: transparent;
  color: var(--primary-color);
  background-color: var(--primary-bright);
}
